

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.btn-group{
	width: 50%;
	text-align: center;
}

.btn-group .btn-lg{
	width: 30%;
}

.btn-group .btn-lg .glyphicon{
	font-size: 1.5em;
}
















